/* start general rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:" Be Vietnam Pro" ,sans-serif ; 
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    display: flex;
}
:root{
    --primary-color:#FF9500;
    --on-primary-color:#fff;
    --main-bg-color:#F7F7F8;
    --secondary-bg-color:#fff;
    --display-text-color:#1A1A1A;
    --title-text-color:#262626;
    --paragraph-text-main-color:#4C4C4D;
    --paragraph-text-secondary-color:#59595A;
    --secondary-border:1px solid var(--primary-color);
    --section-border:1px solid #F1F1F3;
    --space-betweent-sections:100px;
}
section{
    margin-bottom: 100px;
}
.container{
    width: calc(100% - 120px);
    margin: auto;
}

.logo{
    padding: 5.7px;
    background-color: var(--primary-color);
    border-radius: 8px;
    width: fit-content;
}
.logo img{
    display: block;
    width: 33px;
    height: 33px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
body{
    background-color: var(--main-bg-color);
    padding: 20px 20px 0;
}
/* end general rules */

/* start header */
header{
    padding: 16px 0 20px;
    border-bottom: var(--section-border);
}
header .container{

}
header .row{
    gap: 50px;
}
header .row nav{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}
header .row nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    font-size: 14px;
    color: var(--title-text-color);
    text-transform: capitalize;

}
header .row nav a.active ,
header .row nav a:hover{
    padding: 12px 20px;
    background-color: #F1F1F3;
    border-radius: 8px;
}
header .row .auth{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-transform: capitalize;

}
header .row .auth .sign-up{
    transition: all 0.5s;
    color: var(--title-text-color);
    padding: 12px 0;
}
header .row .auth .sign-up:hover{
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 6px;

}
header .row .auth .log-in{
    padding: 12px 24px;
    border-radius: 6px;
    background-color: var(--primary-color);
    background-size:500%;
    color: var(--on-primary-color);
    transition: all 0.5s;
}
header .row .auth .log-in:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
/* end header */
/* start hero section */
.hero{

}
.hero .hero-content{

}
.hero .hero-content .hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 121px;
    margin-bottom: 100px;
}
.hero .hero-content .hero-text .main-head{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    background-color: var(--secondary-bg-color);
    width: fit-content;
    padding: 12px 24px 12px 12px;
    text-transform: capitalize;
    border-radius: 8px;
    position: relative;
    margin-bottom: 16px;
    
}
.hero .hero-content .hero-text .main-head .icon{
    padding: 12px;
    background-color: #FFF4E5;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .hero-content .hero-text .main-head .icon img{
    width: 24px;
}
.hero .hero-content .hero-text .main-head h1{
    color: var(--display-text-color);
    font-size: 36px;
}
.hero .hero-content .hero-text .main-head h1 span{
    color: var(--primary-color);
}
.hero .hero-content .hero-text .main-head .lines{
    position: absolute;
    top: -27px;
    left: -27px;
}

.hero .hero-content .hero-text h2{
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 6px;
    color: var(--title-text-color);
}
.hero .hero-content .hero-text p{
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.hero .hero-content .hero-text .hero-btn{
    display: flex;
    gap: 12px;

}
.hero .hero-content .hero-text .hero-btn a{
    padding: 14px 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 6px;
    transition: all 0.5s;
}
.hero .hero-content .hero-text .hero-btn .explore{
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: 1px solid var(--primary-color);

}
.hero .hero-content .hero-text .hero-btn .explore:hover{
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    border: var(--secondary-border);
}
.hero .hero-content .hero-text .hero-btn .pricing{
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    border: var(--section-border);
}
.hero .hero-content .hero-text .hero-btn .pricing:hover{
    background-color: var(--primary-color);
    color: var(--on-primary-color);

}
.hero .hero-content .companes {
    border:var(--section-border);
    padding: 24px;
    background-color: var(--secondary-bg-color);
}
.hero .hero-content .companes {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero .hero-content .companes .image{
    padding: 20px 30px;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .hero-content .companes .image:not(:last-child){
    border-right:var(--section-border);
}
.hero .hero-content .hero-video{
    width: 100%;
    position: relative;
}
.hero .hero-content .hero-video img:first-child{
    width: 100%;
    filter: brightness(0.8);
    border-radius: 10px;
    aspect-ratio: 1.972265/1;
}
.hero .hero-content .hero-video .play-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* end hero section */